<div class="d-flex flex-column min-vh-100">
    
    <footer class="mt-auto py-3 border-top">
        <ul class="nav justify-content-center mb-3">
            <li class="nav-item">
                <a href="https://facebook.com/yourpage" class="nav-link px-2 text-body">
                    <i class="bi bi-facebook fs-4 me-2 text-primary"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="https://instagram.com/yourprofile" class="nav-link px-2 text-body">
                    <i class="bi bi-instagram fs-4 me-2 text-danger"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="https://twitter.com/yourprofile" class="nav-link px-2 text-body">
                    <i class="bi bi-twitter fs-4 me-2 text-info"></i>
                </a>
            </li>
            <li class="nav-item">
                <a href="https://linkedin.com/in/yourprofile" class="nav-link px-2 text-body">
                    <i class="bi bi-linkedin fs-4 me-2 text-primary"></i>
                </a>
            </li>
        </ul>
    </footer>
</div>
